<%= link_to "Add a new todo", new_todo_path %>
<br><br>

<!-- For line 6: Go to routes.rb and find the path "/todos/:sort" to which replace ":sort" with sort type. This means go to todos_controller and call index method (as there are no additional paths) and give it :sort -->
<%= button_to "No sort", "/todos/none", method: :get %>
<%= button_to "Sort alphabetically", "/todos/alphabetical", method: :get %>
<%= button_to "Sort alphabetically DESC", "/todos/alphabetical_desc", method: :get %>
<%= button_to "Sort newest to oldest", "/todos/new_to_old", method: :get %>
<%= button_to "Sort oldest to newest", "/todos/old_to_new", method: :get %>

<br><br>

<ul class="todos">
    <% @todos.each do |todo| %>
        <li class="<%= "completed" if todo.completed? %>">
        <%= todo.title %></li>
        <% if todo.completed? %>
            <%= button_to "Mark incomplete", todo_completion_path(todo), method: :delete %>
        <% else %>
            <%= button_to "Mark complete", todo_completion_path(todo) %>
        <% end %>
    <% end %>
</ul>